<body class="show_body">
<% flash.each do |message_type, message| %>
    <div class="show_flash"><%= message %></div>
<% end %>

<P class="show_table">
  <strong>Title:</strong>
  <%= @book.title %>
</P>

<p class="show_table">
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<%= link_to 'Edit', edit_book_path(@book.id) %>
  |
<%= link_to 'Back', "/books" %>
</body>